html {
    font-size: 1px;
}

body {
    margin: 0;
    font-family: "Roboto";
    font-size: 14rem;
    background: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.wrapper{
    margin: auto;
    width: 80%;
}

.wrapper-title{
    margin: 0;
    padding: 70px 0;
    color: #1f222c;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

hr{
    margin: 50px 0;
    border: none;
    border: 1px solid #dbdbdd;
}

.simple-form__title,
.fixed-form__title,
.elements__title,
.stylized-checkbox__title,
.form-table__title,
.forms-table__title{
    color: #b3b3b3;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.form{
    justify-content: space-between;
}

.simple-form{
    width: 335px;
}

.simple-form input,
.simple-form select,
.simple-form textarea{
    width: 330px;
    box-sizing: border-box;
    padding: 12px 15px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
}

.simple-form p{
    margin-bottom: 9px 0;
    padding: 0;
}

.simple-form textarea{
    resize: horizontal;
    padding-top: 15px;
    max-width: 329px;
    height: 130px;
}

.simple-form select{
    appearance: none;
    margin-bottom: 9px;
    padding: 11px 15px;
    width: 330px;
}

.simple-form ::placeholder{
    color: #b3b3b3;
    font-size: 14rem;
}

.simple-form input:focus,
.simple-form select:focus,
.simple-form textarea:focus{
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
    border: 1px solid #3e6aff;
}

.simple-form input[type="submit"]{
    width: 335px;
    color: #fff;
    font-size: 14rem;
    border: none;
    background-color: #12d661;
}

.simple-form input[type="submit"]:focus{
    filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
    background-color: #07be51;
}

.fixed-form{
    position: fixed;
    right: 10%;
    width: 315px;
    z-index: 1;
}

.fixed{
    padding: 25px;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}

.fixed p,
.fixed a{
    margin: 0;
    padding: 20px 0;
}

.help p{
    padding: 15px 0 0;
}

.fixed-infa p{
    position: relative;
}

.fixed input{
    width: 230px;
    padding: 11px 15px;
    border-radius: 3px;
    border: none;
    border: 1px solid #ccc;
}

.fixed input:focus{
    outline: none;
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
    border-radius: 3px;
    border: none;
    border: 1px solid #3e6aff;
}

.fixed label[for="fixed-login"],
.fixed label[for="fixed-password"]{
    position: absolute;
    top: -5px;
    left: 0;
    color: #b3b3b3;
    font-size: 13rem;
}

.fixed a{
    font-size: 13rem;
    color: #3e6aff;
}

.fixed a:focus{
    color: #3e6aff;
    text-decoration: underline;
}

.fixed input[type="checkbox"]{
    margin: 0;
    margin-right: 7px;
    width: 16px;
    padding: 11px 0;
}

.fixed label[for="remember-password"]{
    color: #1f222c;
    font-size: 13rem;
}

.fixed input[type="submit"]{
    width: 260px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #12d661;
}

.fixed input[type="submit"]:focus{
    filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
    background-color: #07be51;
}

.radio label{
    color: #1f222c;
    font-size: 14rem;
}

.radio{
    margin-right: 80px;
}

.radio p,
.checkbox p{
    margin: 8px 0;
}

.checkbox label[for="news"],
.radio label[for="pickup"]{
    color: #b3b3b3;
    font-size: 14rem;
}

.elements-box{
    padding: 20px;
    width: 480px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.elements-box span{
    padding-left: 20px;
    padding-right: 30px;
    color: #b3b3b3;
    font-size: 14rem;
}

.elements-box label{
    padding-right: 24px;
    color: #1f222c;
    font-size: 14rem;
}

.elements-box input[type="date"]{
    width: 140px;
    margin-left: 15px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    border: 1px solid #ccc;
}

.elements-box input[type="date"]{
    background-image: url(../img/data.png);
    background-repeat: no-repeat;
    background-position: 125px 9px;
}

.elements-box input[type="date"]:focus{
    outline: none;
    border: none;
    border: 1px solid #ccc;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.stylized__radio p{
    margin: 10px 0;
}

.stylized__radio label[for="man"],
.stylized__radio label[for="woman"]{
    display: inline-block;
    position: relative;
    padding: 27px 0 27px 100px;
    color: #1f222c;
    font-size: 16rem;
}

.stylized__radio label[for="man"]::before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(../img/gender_sprite.png);
    width: 72px;
    height: 71px;
}

.stylized__radio label[for="woman"]::before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(../img/gender_sprite.png);
    width: 72px;
    height: 71px;
    background-position: 72px 0;
}

.stylized__radio input:checked+label::before{
    top: -1px;
    background-position: 0 74px;
}

.stylized__radio input:checked+label[for="woman"]::before{
    top: 1px;
    background-position: 71px 71px;
}

.stylized__radio input[type="radio"]{
    display: none;
}

.stylized{
    display: flex;
}

.stylized__checkbox p{
    margin: 32px 400px;
}

.stylized__checkbox label{
    color: #1f222c;
    font-size: 14rem;
}

.stylized__checkbox p{
    position: relative;
}

.stylized__checkbox input[type="checkbox"]{
    display: none;
}

.stylized__checkbox label[for="news-receive"]::before,
.stylized__checkbox label[for="buy"]::before,
.stylized__checkbox label[for="light"]::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -60px;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    background-color: #cfcfd1;
}

.stylized__checkbox label[for="news-receive"]::after,
.stylized__checkbox label[for="buy"]::after,
.stylized__checkbox label[for="light"]::after{
    content: '';
    position: absolute;
    top: -3px;
    left: -58px;
    width: 21px;
    height: 21px;
    border-radius: 11px;
    background-color: #fff;
}

.stylized__checkbox input:checked+label::before{
    background-color: #3d69fe;

}

.stylized__checkbox input:checked+label::after{
    left: -38px;
}

.form-table h3{
    color: #1f222c;
    font-size: 18rem;
}

.form-table label{
    color: #1f222c;
    font-size: 14rem;
}

.form-table input,
.form-table select,
.form-table textarea{
    margin: 4px 0;
    width: 340px;
    box-sizing: border-box;
    padding: 12px 15px;
    border-radius: 3px;
    border: none;
    border: 1px solid #ccc;
    outline: none;
}

.form-table input::placeholder,
.form-table textarea::placeholder{
    color: #b3b3b3;
    font-size: 14rem;
}

.form-table select{
    appearance: none;
    padding-left: 17px;
    width: 340px;
}

.form-table option{
    color: #1f222c;
    font-size: 14rem;
}

.form-table input[type="radio"]{
    width: 16px;
    height: 16px;
}

.form-table input[type="text"],
.form-table input[type="password"],
.form-table input[type="submit"],
.form-table select,
.form-table textarea,
.form-table label[for="photoo"]{
    margin: 4px 100px;
}

.table{
    display: flex;
    margin: 5px 100px;
}

.table p{
    margin: 0;
}

.table label{
    margin: 5px;
    margin-right: 27px;
    color: #1f222c;
    font-size: 14rem;
}

.form-table input[type="file"]{
    display: none;
    width: 170px;
    padding: 16px 0;
}

.photo{
    padding: 20px 0;
}

.form-table label[for="photoo"]{
    padding: 14px 40px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #3e6aff;
}

.comment{
    padding: 15px 0;
    vertical-align: top;
}

.form-table textarea{
    resize: horizontal;
    max-width: 340px;
    height: 130px;
    border: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
}

.form-table input[type="submit"]{
    margin-top: 10px;
    width: 345px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #12d661;
}

.form-table input:focus,
.form-table select:focus,
.form-table textarea:focus{
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
    border: 1px solid #3e6aff;
}

.form-table input[type="submit"]:focus{
    filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
    background-color: #07be51
}

.forms-table h3{
    color: #1f222c;
    font-size: 18rem;
}

.forms-table input,
.forms-table select{
    margin: 30px 9px 30px 0;
    padding: 12px 15px;
    width: 220px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.forms-table select,
.forms-table input[type="email__adres"],
.forms-table input[type="text__city"],
.forms-table input[type="text__house"],
.forms-table input[type="text__index"]{
    margin: 30px 9px 5px 0;
}

.forms-table select{
    appearance: none;
}

.forms-table input[type="email__adres"]{
    width: 100%;
}

.forms-table td{
    position: relative;
}

.infa label,
.infa__name label{
    padding: 18px 0;
    position: absolute;
    top: -10px;
    left: 0;
}

.forms-table label{
    color: #b3b3b3;
    font-size: 13px;
}

.forms-table input:focus,
.forms-table select:focus{
    outline: none;
    border: none;
    border: 1px solid #3e6aff;
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
}

.forms-table input[type="checkbox"]{
    margin: 0 9px 0 0;
    width: 13px;
}

.forms-table label[for="agree"]{
    color: #1f222c;
    font-size: 14px;
}

.button{
    display: flex;
}

.button p{
    margin: 30px 0;
    margin-right: 330px;
}

.forms-table input[type="button"]{
    margin: 0;
    padding: 12px;
    width: 180px;
    color: #6e6f77;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #85868d;
}

.forms-table input[type="button"]:focus{
    color: #fff;
    background-color: #85868d
}

.forms-table input[type="submit"]{
    margin: 0;
    padding: 13px;
    width: 180px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #12d661;
}

.infa__name:first-child td{
    border-bottom: 1px solid #e9e9e9;
}

.forms-table td:last-child input{
    margin-right: 0;
}

.checkbox__box{
    height: 60px;
}

.checkbox__box:last-child td{
    border-bottom: 1px solid #e9e9e9;
}

.forms-table input[type="submit"]{
    filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
    background-color: #07be51;
}

input[type="checkbox"],
input[type="radio"]{
    visibility: hidden;
}

label[for="remember-password"],
label[for="contract"],
label[for="consonant"],
label[for="news"],
label[for="novelty"],
label[for="goods"],
label[for="sale"],
label[for="agree"]{
    position: relative;
}

label[for="remember-password"]::before,
label[for="contract"]::before,
label[for="consonant"]::before,
label[for="news"]::before,
label[for="novelty"]::before,
label[for="goods"]::before,
label[for="sale"]::before,
label[for="agree"]::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -25px;
    width: 14.5px;
    height: 14.5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input:checked+label[for="remember-password"]::after,
input:checked+label[for="contract"]::after,
input:checked+label[for="consonant"]::after,
input:checked+label[for="news"]::after,
input:checked+label[for="novelty"]::after,
input:checked+label[for="goods"]::after,
input:checked+label[for="sale"]::after,
input:checked+label[for="agree"]::after{
    content: '';
    position: absolute;
    top: 4px;
    left: -20.5px;
    width: 6px;
    height: 3px;
    border-left: 2px solid #244dd7;
    border-bottom: 2px solid #244dd7;
    transform: rotate(-45deg);
    opacity: 0;
}

input:checked+label[for="remember-password"]::after,
input:checked+label[for="contract"]::after,
input:checked+label[for="consonant"]::after,
input:checked+label[for="news"]::after,
input:checked+label[for="novelty"]::after,
input:checked+label[for="goods"]::after,
input:checked+label[for="sale"]::after,
input:checked+label[for="agree"]::after{
    opacity: 1;
}

label[for="nova-poshta"],
label[for="courier"],
label[for="pickup"],
label[for="build-man"],
label[for="build-woman"]{
    position: relative;
}

label[for="nova-poshta"]::before,
label[for="courier"]::before,
label[for="pickup"]::before,
label[for="build-man"]::before,
label[for="build-woman"]::before{
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

input:checked+label[for="nova-poshta"]::after,
input:checked+label[for="courier"]::after,
input:checked+label[for="pickup"]::after,
input:checked+label[for="build-man"]::after,
input:checked+label[for="build-woman"]::after{
    content: "";
    position: absolute;
    top: 4px;
    left: -20.9px;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    background-color: #244dd7;
    opacity: 0;
}

input:checked+label[for="nova-poshta"]::after,
input:checked+label[for="courier"]::after,
input:checked+label[for="pickup"]::after,
input:checked+label[for="build-man"]::after,
input:checked+label[for="build-woman"]::after{
    opacity: 1;
}

/* input[type="checkbox"]:focus{
    border: 1px solid #3e6aff;
} */

.fixed{
    position: relative;
}

.fixed::before{
    content: "";
    position: absolute;
    top: 10.3px;
    right: 18px;
    width: 10px;
    height: 10px;
    border: none;
    border-bottom: 2px solid #b3b3b3;
    transform: rotate(-45deg);
}

.fixed::after{
    content: "";
    position: absolute;
    top: 18px;
    right: 17.8px;
    width: 10px;
    height: 10px;
    border: none;
    border-bottom: 2px solid #b3b3b3;
    transform: rotate(-135deg);
}

.select__box{
    position: relative;
}

label[for="select"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

select{
    appearance: none;
    top: 0;
    left: 0;
    padding: 18px;
    background: transparent;
    border-radius: 3px;
}

label[for="select"]::before{
    content: '';
    position: absolute;
    top: 18px;
    left: 300px;
    border: 6px solid transparent;
    border-top-color: #000;
}

label[for="select-city"]::before{
    content: '';
    position: absolute;
    top: 23px;
    left: 415px;
    border: 6px solid transparent;
    border-top-color: #000;
}

label[for="country"]::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 195px;
    border: 6px solid transparent;
    border-top-color: #000;
}

label[for="country"]::after{
    content: '';
    position: absolute;
    top: 53px;
    left: 185px;
    width: 1px;
    height: 19px;
    background-color: #ccc;
}